*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: white;
}

.menu,

a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 10px;
    background-color:rgb(253, 232, 245)

}

.menu{
    list-style: none;
}
.menu li{
display: inline-block;
padding: 20px;

}
.menu li{
    transition: ease;

}

.menu a:hover {
    color: black;

}

#resto {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 40px;
}

#resto p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    width: 90%;

}

#resto h1{
padding-top: 3px;
    color:rgb(95, 91, 128)
    
}
#immagine {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

#btn {
    padding: 10px 50px;
    text-align: center;
   background-color: lightblue;
   cursor: pointer;
 }  
   #btn:hover{
       background-color: blue;
       color:white;
       font-size: 23px

   }
